
*.pper

.Rproj.user/1810D174/sdb/prop/INDEX

.Rproj.user/1810D174/persistent-state

.Rproj.user/1810D174/saved_source_markers

*.csv

*.zip

.RData

*.RData

XML_Report.xml

.Rproj.user/1810D174/sdb/prop/EFB8D26

.Rproj.user/1810D174/sdb/s-88AE1D37/8E6BCD47

.Rproj.user/1810D174/sdb/s-88AE1D37/lock_file

*.jpg

.Rproj.user/1810D174/sdb/per/t/8E6BCD47

.Rproj.user/1810D174/sdb/prop/591F88F2
